/* ==========================================hero================================= */
.hero {
  background-image: url("/assets/images/product/product-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}
.is-fullheight {
  min-height: calc(100vh - 36px);
}
.prod-hero-content .hero-heading {
  font-weight: 900 !important;
  margin-bottom: 6rem !important;
  height: 2.6rem;
  font-size: 6rem;
  color: #00879e;
  /* margin-bottom: 3.5em; */
  font-family: sans-serif;
  font-style: normal;
}
.prod-hero-content .subtitle {
  /* width: 15.9rem; */
  /* margin-top: 5em; */
  font-size: 2em;
  line-height: 1.5rem;
}
.prod-hero-btn > :first-child {
  margin-right: 3rem;
}
